<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.finclaw.data.attendance.AttendMapper">
    <insert id="attendProject">
        insert into Attendance(userID, projectID, isChosen, isReady)
        values(#{param1}, #{param2}, 0, 0)
    </insert>

    <delete id="quitProject">
        delete from Attendance where userID=#{param1} and projectID=#{param2}
    </delete>

    <update id="setReadyForProject">
        update Attendance set isReady=#{isReady}
        where userID=#{userID} and projectID=#{projectID}
    </update>

    <update id="setChosen">
        update Attendance set isChosen=#{isChosen}
        where userID=#{userID} and projectID=#{projectID}
    </update>

    <select id="getCooperationProjectIDs" resultType="java.lang.Integer">
        select projectID from Attendance where userID=#{cooperationID}
    </select>

    <select id="getProjectDataProducerIDs" resultType="java.lang.Integer">
        select userID from Attendance where projectID=#{projectID}
    </select>

    <resultMap id="Attendance" type="com.example.finclaw.po.Attendance">
        <result column="userID" property="userID"/>
        <result column="projectID" property="projectID"/>
        <result column="isChosen" property="isChosen"/>
        <result column="isReady" property="isReady"/>
    </resultMap>
</mapper>