<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.finclaw.data.model.ModelMapper">

    <insert id="createNewModel" parameterType="com.example.finclaw.po.Model" useGeneratedKeys="true" keyProperty="modelID">
        insert into Model(mid, jib, modelVersion)
        values(#{mid},#{jid},#{modelVersion})
    </insert>

    <select id="getModel" resultMap="Model">
        select * from model where modelID=#{modelID}
    </select>

    <select id="getAllModel" resultMap="Model">
        select * from model
    </select>

    <resultMap id="Model" type="com.example.finclaw.po.Model">
        <id column="modelID" property="modelID"/>
        <result column="mid" property="mid"/>
        <result column="modelName" property="modelName"/>
        <result column="modelVersion" property="modelVersion"/>
        <result column="jid" property="jid"/>
    </resultMap>

</mapper>