<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.finclaw.data.cooperation.ServerInfoMapper">

    <insert id="updateServerInfo" parameterType="com.example.finclaw.po.ServerInfo" useGeneratedKeys="true" keyProperty="serverInfoID">
        insert into ServerInfo(userID,projectID,ipAddress,serverName,serverPassword,filepath)
        values(#{userID},#{projectID},#{ipAddress},#{serverName},#{serverPassword},#{filepath})
    </insert>

    <select id="getServerInfo" resultMap="ServerInfo" >
        select * from ServerInfo
        where projectID=#{projectID} and userID=#{userID}
    </select>

    <select id="getProjectServerInfo" resultMap="ServerInfo" >
        select * from ServerInfo where projectID=#{projectID}
    </select>

    <resultMap id="ServerInfo" type="com.example.finclaw.po.ServerInfo">
        <id column="serverInfoID" property="serverInfoID"/>
        <result column="userID" property="userID"/>
        <result column="projectID" property="projectID"/>
        <result column="ipAddress" property="ipAddress"/>
        <result column="serverName" property="serverName"/>
        <result column="serverPassword" property="serverPassword"/>
        <result column="filePath" property="filePath"/>
    </resultMap>
</mapper>