<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.example.finclaw.data.monitor.MonitorMapper">

    <insert id="createNewRecord" parameterType="com.example.finclaw.po.MonitorForm" useGeneratedKeys="true"
            keyProperty="monitorID">
        insert into monitor(userID,projectID,operation)
        values (#{userID},#{projectID},#{operation})
    </insert>

    <select id="getProjectMonitorForms" resultMap="MonitorForm">
        select * from monitor where projectID=#{projectID}
    </select>

    <select id="getCooperationMonitorInfo" resultMap="MonitorForm">
        select * from monitor
    </select>


    <resultMap id="MonitorForm" type="com.example.finclaw.po.MonitorForm">
        <id column="monitorID" property="monitorID"/>
        <result column="userID" property="userID"/>
        <result column="projectID" property="projectID"/>
        <result column="operation" property="operation"/>
        <result column="operateTime" property="operateTime"/>
    </resultMap>

</mapper>